:root {
    --bg:#222831;
    --fg:#DFD0B8;
    --accent:#4dabff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg:#222831;
        --fg:#DFD0B8;
        --accent:#4dabff;
    }
}

html, body {
    background:var(--bg);
    color:var(--fg);
}

#output {
    white-space:pre-wrap;
    word-break:break-all;
}

.word {
    margin:0 0.35ch;
}
.word.len3 { color:hsl(37, 38%, 64%); }
.word.len4 { color:hsl(357, 38%, 64%); }
.word.len5 { color:hsl(317, 38%, 64%); }
.word.len6 { color:hsl(277, 38%, 64%); }
.word.len7 { color:hsl(237, 38%, 64%)}
.word.len8 { color:hsl(197, 38%, 64%) }